@{
    ViewBag.Title = "CalcForm";
}
@using Mortgage_Calculator.Models;


@model Mortgage_Calculator.Models.CalculationView

<div >
    <h3 class="dark-grey-text mb-5"><strong>Mortgage Calculator</strong></h3>
</div>


@{
    using (Html.BeginForm("calculateAmortTable", "Home", FormMethod.Post))
    {

        <div class="form-group row">
            <label class="col-sm-2 col-form-label for="M-amount">Mortgage Amount</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.mortgageAmount)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label for="Interest-rate">Interest Rate</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.interestRate)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label for="a-period">Amortization Period</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.amortizationPeriod)
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label for="Down-payment">Down Payment</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.downpayment)
            </div>
        </div>


        <input type="submit" class="btn btn-primary" value="Calculate" />

    }
}